<launch>
<!-- <node pkg="rosservice" type="rosservice" name="set_logger_level" args="call /tf_mapping_node/set_logger_level '{logger: 'rosout', level: 'ERROR'}'"/> -->

<node type="publish_camera_transforms.py" pkg="fishtracker" name="CameraPub"/>

<node type="triangulate_fish_node.py" pkg="fishtracker" name="measurefish"/>

<node type="triangulation_kalman_node.py" pkg="fishtracker" name="fishkalman"/>

<node type="rviz" pkg="rviz" name="rviz" args="-d $(find fishtracker)/rviz/triangulate_fish.rviz"/>


</launch>